<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Configuration</title>
</head>

<body>
    <form action="validateConfig" method="post">
        <p><label for="subject">Sujet</label><br>
            <input type="text" id="subject" name="subject" value="<%= subject %>"><br>
            <input type="radio" id="start" name="status" value="start">
            <label for="start">Démarrer le vote</label><br>
            <input type="radio" id="stop" name="status" value="stop">
            <label for="stop">Arrêter le vote</label><br>
        </p>
        <p>
            <label for="nickname">Nom d'utilisateur :</label><br>
            <input type="text" id="nickname" name="nickname" value=""><br>
            <label for="password">Mot de passe :</label><br>
            <input type="password" id="password" name="password" value=""><br><br>
        </p>
        <p>
            <input type="submit" value="Valider">
        </p>
    </form>
</body>

</html>