<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>

<body>
    <a href="config">Admin</a><br>
    <a href="vote">Voter</a><br>
    <a href="result">Résultats</a><br>
    <%= erreur %></p>
</body>

</html>