<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Résultats</title>
</head>

<body>
        <p>Sujet : <%= subject %></p>
        <p>Pour : <%= pro %></p>
        <p>Contre : <%= con %></p>
        <p>Nombre de votants : <%= voters %>/<%= total %></p>
        <p>Ne participe pas : <%= notParticipating %></p>
</body>

</html>