<!DOCTYPE html>
    <html lang="fr">
    
    <head>
        <meta charset="UTF-8">
        <title>Vote</title>
    </head>
    
    <body>
        <p>Sujet : <%= subject %></p>
        <form action="validate" method="post">
            <input type="radio" id="pro" name="choice" value="pro">
            <label for="pro">Pour</label><br>
            <input type="radio" id="con" name="choice" value="con">
            <label for="con">Contre</label><br>
            <input type="radio" id="abstention" name="choice" value="abstention">
            <label for="abstention">Abstention</label><br>
            <input type="radio" id="notparticip" name="choice" value="notparticip">
            <label for="notparticip">Ne prend pas part au vote</label><br>
            <input type="submit" value="Submit">
        </form>
    </body>
    
    </html>